* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(39, 35, 37);
    color: rgb(255, 246, 230);
    border-style: 2px red;
}

body {
    margin: 80px;
}

a { color: pink;
    text-decoration: none;
    background: none;
}
a:hover {
    color: aqua;
    text-decoration: underline;
}

.recipe-list {
list-style-type: none;
}

.recipe-list li {
    padding: 12px;
    margin: 24px;
    width: 400px;
    height: 200px;
    background-color: #FFFFFF15;

}